h1{
    color: aqua;
    font-size: larger;
}
.ejemplo{
    color: aquamarine;
    font-family: 'Trebuchet MS';
}
h2 {
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
